html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
    width: 0;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */
* {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-color: transparent transparent ;/* Firefox */
  }

body {
    width: 100%;
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0; 
    background-color: #F8F8F8;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

  .header {
    background-color: white;
  }

@media (min-width: 320px) {

    /* Верхнее меню */  

    .upper-menu {
        display: flex;
        width: 100%;
        height: 88px;
        flex-wrap: nowrap;
        align-items: baseline;
        border-bottom: 1px solid #D9FFF5;
    }

    .upper-menu__wrapper-left {
        display: flex;
        width: 186px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-right: auto;
        align-items: center;
    }

    .upper-menu__wrapper-center {
        display: none;
    }
    .upper-menu__wrapper-right {
        display: flex;
        width: 134px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .upper-menu__wrapper-right::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-right: 133px;
    }

    .logo {
        display: flex;
        width: 98px;
        height: 52px;
        background-image: url('../icons/logo.svg') ;
        border: none;
        cursor: pointer;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;  
    }

    /* Кнопки меню */

    .button-menu {
        display: flex;
        align-self: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ff3e79;
        border: none;
        cursor: pointer;
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;    
    }


    .button-menu--open-burger {
        background-image: url("../icons/open-burger.svg");
    }
    .button-menu--close-burger {
        background-image: url("../icons/close-burger.svg");
    }
    .button-menu--button-burger {
        background-image: url("../icons/burger.svg");
    }
    .button-menu--call {
        background-image: url("../icons/call.svg");
    }
    .button-menu--chat {
        background-image: url("../icons/chat.svg");
    }
    .button-menu--profile {
        background-image: url("../icons/profile.svg");
        margin-right: 4px;  
    }
    .button-menu--repair {
        background-image: url("../icons/repair.svg");
        margin-left: 4px;
    }
    .button-menu--checkstatus {
        background-image: url("../icons/checkstatus.svg");
    }
    .button-menu--search {
        background-image: url("../icons/search.svg");
    }

    .button-menu:hover {
        background-color: rgb(255, 62, 121, 0.4);
        transition-property: background-color;
        transition-duration: 500ms;         
    }

    .button-menu:focus {
        outline: 2px solid transparent;
        background-color: #41F6D7;
        transition-property: background-color;
        transition-duration: 700ms;  
    }



    /* Main */

    .main {
        background-color: #F8F8F8;
    }

    /* Заголовок Main*/

    .main-title {
        display: flex;
        justify-content: flex-start;
        align-content: center;
    }

    .main-title__h1 {
        font-size: 28px;
        width: 297px;
        font-style: #1B1C21;
        line-height: 40px;
        letter-spacing: -0.6px;
    }

    .main-title__wrapper-title{
        margin: 24px 16px 24px 16px;
    }

    .main-title__h1::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 40px;
        background-image: url('../icons/highlight.svg');
        left: 0;
    }

    .main-title__wrapper-repair {
        display: none;
    }

    .main-title__wrapper-checkstatus {
        display: none;
    }

    /* Меню Main */

    .menu {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow: scroll;
        
    }
    .main__menu {
        margin-left: 16px;
        margin-bottom: 7px;
    }
    
    .link {
        text-decoration: none;
        font-style: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #1B1C21;
    }
    
    .link:hover {
        color: #FF3E79;
        transition-property: color;
        transition-duration: 500ms;
;
    }
    .link:focus {
        color: #7E7E82;
        transition-property: color;
        transition-duration: 500ms;   
    }

    .menu__link {
        display: block;
        color: #7E7E82;
        padding: 6px 16px 6px 14px;
        margin: 2px;
        outline: 2px solid transparent;
    }

    .menu__link--active {
        background-color: #fff;
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
    } 

    .menu__link:hover {
        background-color: #fff;
        outline: 2px solid #f76b95;
        border-radius: 6px;
        transition-property: outline-color, color;
        transition-duration: 2s, 2s;
    }  

    .menu__link:focus {
        background-color: #fff;
        outline: 2px solid #B8FFEC;
        border-radius: 6px;
        transition-property: outline-color, color;
        transition-duration: 1s, 2s;   
    }

    .main__fade {
        position: absolute;
        width: 24px;
        height: 40px;
        right: 0;
        top: 175px;
        background-image: url('../icons/fade.png');  
        
    }

    /* О компании */

    .main__content {
        display: flex;   
        flex-direction: column;
    }

    .content__wrapper-left {
        margin: 0 16px 16px 16px;
    }

    .content__text {
        height: 90px; 
        position: relative;
        font-style: 'TT Lakes', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        overflow: auto;
    }

    .content__link {
        display: inline-block;
        color: #1B1C21;
        position: relative;
        margin: 16px 0 0 32px;
    }

    .content__link::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 11px;
        left: -24px;
        top: 6px;
        background-image: url("../icons/expand.svg");
}

    .content__image {
        width: 100%;
        height: auto;
    }

    /* Боковое меню (Side-Menu)*/

    .side-menu {
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 100%;
        position: absolute;
        z-index: 5;
        background: white;
        top: 0;
        left: 0;
        padding: 0 24px 32px 24px;
        box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
                     16px 0px 52px rgba(14, 24, 80, 0.2);
        overflow: hidden;
        }

    /* Верхнее меню Side-Menu */

    .top-menu {
        display: flex;
        width: 100%;
        height: 88px;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 32px;
    }

    .top-menu__wrapper-left {
        display: flex;
        width: 154px;
        height: 88px;    
        justify-content: space-between;
        align-items: center;
    }

    .top-menu__wrapper-right {
        display: flex;
        width: auto;
        height: 88px;    
        justify-content: flex-end;
        align-items: center;
    }

    /* Основное меню Side-Menu */

    /* Меню */

    .side-menu__main {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }

    .main_menu--no-margin {
       margin: 0;
    }

    .menu--column {
       flex-direction: column;
    }

    .menu__side-menu-link {
       display: flex;
       max-width: 200px;
       align-items: center;
       margin-bottom: 32px;
    }

    .menu__side-menu-link--active {
        color: #7E7E82;
    }

    .menu__side-menu-link--active::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 32px;
        background-color: #41F6D7;
        border-radius: 0 30% 30% 0;
        left: 0;
    }

    /* Связь */

    .connection {
        margin-top: auto;
    }

    .connection__buttons {
        display: flex;
        width: 152px;   
        justify-content: space-between;;  
        margin-bottom: 16px;            
    }

    .connection__buttons .button-menu--profile {
        margin-right: 0;  
    }

    .connection__email-link {
        display: flex;
        height: auto;
        margin-bottom: 12px;
    }

    .connection__phone-link {
        display: flex;
        font-size: 24px;
        font-weight: bold;
        line-height: 32px;
        letter-spacing: -0.6px;
        margin-bottom: 40px;
    }
    
    /* Смена языка */

    .side-menu__language-selection {
        display: flex;
        margin-top: auto;
    }

    .side-menu__link {
        margin-right: 7px;
    }

    .side-menu__link--active {
        color: #7E7E82;
    }

}


@media (min-width: 768px) {

    /*Верхнее меню */

    .upper-menu__wrapper-left {
        display: flex;
        width: 203px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: auto;
        align-items: center;
        padding-left: 24px;
    }
    .upper-menu__wrapper-left::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-left: 60px;   
    }

    .upper-menu__wrapper-center {
        display: flex;
        width: 188px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: auto;
        align-items: center;
    }

    .upper-menu__wrapper-right {
        width: 142px;
    }    
    .upper-menu__wrapper-right::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-right: 140px;
    }

    .button-menu--checkstatus {
        background-image: url("../icons/checkstatus.svg");
        margin-right: 8px;  
    }


    /* Меню Main */

    .main-title__wrapper-repair {
        display: none;
    }
    .main-title__wrapper-checkstatus {
        display: none;
    }

    .main-title__wrapper-title {
        margin: 24px;
        margin-bottom: 32px;
    }

    .button-menu--repair {
        background-image: url("../icons/repair.svg");
        margin-left: 4px;
    }
    .main__menu {
        margin-left: 24px;
    }

    .main__fade {
        position: absolute;
        width: 20px;
        height: 40px;
        top: 184px;
        right: 0;
        background-image: url('../icons/fade-big.png');  
    }

    /* О компании*/

    .main__content { 
        flex-direction: row;
        justify-content: space-between;  
        margin: 15px 24px 0 24px;            
    }

    .content__wrapper-left {
        flex-basis: 50%;
        margin: 0 24px 0 0;
    }

    .content__text {
        height: 160px;
        line-height: 20px;
    }
    
    .content__link {
         margin: 10px 0 0 32px;
    }

    
    .content__link::before {
        position: absolute;
        content: "";
        width: 8px;
        height: 11px;
        left: -24px;
        top: 6px;
    }

    .content__wrapper-right {
        flex-basis: 50%;
        margin-left: 24px;
    }
  
    .content__image {
        min-width: 360px;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

}



@media (min-width: 1120px) {

    body {
        max-width: 1120px;
        margin: auto;
    }

    /* Верхнее меню */

    .header {
        display: none;
    }

    /* Заголовок Main */

    .main-title {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
    }

    .main-title__wrapper-title {
        display: flex;
        width: 236px;
        margin-top: 42px;
        margin-left: 32px;
        margin-bottom: 8px;
    }

    .main-title__h1::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 40px;
        background-color: #41F6D7;
        border-radius: 2px;
        left: 0px;
    }

    .main-title__wrapper-repair {
        display: flex;
        width: 172px;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 32px;
    }

    .main-title__wrapper-checkstatus {
        display: flex;
        width: 176px;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        margin-top: 32px;
        margin-right: 24px;
        margin-left: 32px;
    }

    .main-title__text  {
        font-style: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;;
    }

    /* Меню Main */

    .menu {
        display: flex;
        flex-wrap: wrap;        
    }

    .main__menu {
        margin-left: 32px;
        margin-bottom: 0;
    }

    .menu__link {
        padding: 6px 23px 6px 12px;
        
    }

    /* О компании */

    .main__content {
        margin: -7px 36px 0 34px;    
    }

    .content__wrapper-left {
        margin: 8px 16px 0 0;
    }

    .content__wrapper-right {
        margin-left: 24px;
    }


}
