html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

/* Скрываем scrollbar для Chrome, Safari и Opera */
*::-webkit-scrollbar {
    width: 0;
  }

  /* Скрываем scrollbar для IE, Edge и Firefox */
* {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-color: transparent transparent;/* Firefox */
  }

body {
    width: 100%;
    min-width: 320px;
    height: auto;
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0; 
    background-color: #F8F8F8;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}
li {
    list-style: none;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

a {
    color:#1B1C21;
    text-decoration: none;
}

.page__header {
    background-color: white;
}

/* Верхнее меню */  

.upper-menu {
    display: flex;
    width: 100%;
    height: 88px;
    flex-wrap: nowrap;
    align-items: baseline;
    border-bottom: 1px solid #D9FFF5;
}

.upper-menu__wrapper-left {
    display: flex;
    width: 186px;
    height: 88px;    
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-right: auto;
    align-items: center;
}

.upper-menu__wrapper-center {
    display: none;
}
.upper-menu__wrapper-right {
    display: flex;
    width: 130px;
    height: 88px;    
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.upper-menu__wrapper-right::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 32px;
    background-color: #EAEAEA;
    border-radius: 1px;
    right: 133px;
}

.logo {
    display: flex;
    width: 98px;
    height: 52px;
    background-image: url('../icons/logo.svg') ;
    border: none;
    cursor: pointer;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;  
}

/* Кнопки меню */

.button-menu {
    display: flex;
    align-self: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;
    border: none;
    cursor: pointer;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;    
}


.button-menu--open-burger {
    background-image: url("../icons/open-burger.svg");
}
.button-menu--close {
    background-image: url("../icons/close.svg");
}
.button-menu--call {
    background-image: url("../icons/call.svg");
}
.button-menu--message {
    background-image: url("../icons/message.svg");
}
.button-menu--profile {
    background-image: url("../icons/profile.svg");
}
.button-menu--repair {
    background-image: url("../icons/repair.svg");
}
.button-menu--checkstatus {
    background-image: url("../icons/checkstatus.svg");
}
.button-menu--search {
    background-image: url("../icons/search.svg");
}

.button-menu:hover {
    background-color: rgb(255, 62, 121, 0.4);
    transition-property: background-color;
    transition-duration: 500ms;         
}

.button-menu:focus {
    outline: 2px solid transparent;
    background-color: #41F6D7;
    transition-property: background-color;
    transition-duration: 700ms;  
}

/* Main */

.main {
    background-color: #F8F8F8;
}

/* Заголовок Main*/

.main-title {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.main-title__h1 {
    font-size: 28px;
    width: 297px;
    color: #1B1C21;
    line-height: 40px;
    letter-spacing: -0.6px;
}

.main-title__wrapper-title{
    position: relative;
    margin: 24px 16px 24px 16px;
}

.main-title__h1::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-image: url('../icons/highlight.svg');
    left: -16px;
}

.main-title__wrapper-repair {
    display: none;
}

.main-title__wrapper-checkstatus {
    display: none;
}

/* Меню Main */

.menu {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow: scroll;
}
.main__menu {
    margin: 0 0 24px 16px;
}

.link {
    text-decoration: none;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #1B1C21;
}

.link:hover {
    color: #FF3E79;
    transition-property: color;
    transition-duration: 500ms;
}

.link:focus {
    color: #7E7E82;
    transition-property: color;
    transition-duration: 500ms;   
}

.menu__link {
    display: block;
    color: #7E7E82;
    padding: 6px 16px 6px 14px;
    margin: 2px;
    outline: 2px solid transparent;
}

.menu__link--active {
    background-color: #fff;
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
} 

.menu__link:hover {
    background-color: #fff;
    outline: 2px solid #FF3E79;
    border-radius: 6px;
    transition-property: outline-color, color;
    transition-duration: 2s, 2s;
}  

.menu__link:focus {
    background-color: #fff;
    outline: 2px solid #B8FFEC;
    border-radius: 6px;
    transition-property: outline-color, color;
    transition-duration: 1s, 2s;   
}

.main__fade {
    position: absolute;
    width: 24px;
    height: 40px;
    right: 0;
    top: 175px;
    background-image: url('../icons/fade.png');  
}

/* О компании */

.main__content {
    display: flex;   
    flex-direction: column;
    margin: 0 0 18px 0;
}

.content__wrapper-left {
    margin: 0 16px 0 16px;
}

.content__text {
    position: relative;
    font-family: 'TT Lakes', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 16px;
}

.content__text--hidden {
    height: 90px; 
    overflow: auto;
}

.content__image {
    width: 100%;
    height: auto;
}

.content__button {
    width: 100%;
    display: flex;
    margin: 0 0 16px 0;
}

.content__button::before {
    content: "";
    width: 8px;
    height: 11px;
    background: url('../icons/arrow-down.svg') no-repeat;
    background-position: left;
    margin: 6px 16px 0 8px;
    transform: rotate(0deg);
    transition-property: transform;
    transition-duration: 500ms;
}

.content .content__button--up::before {
    content: "";
    transform: rotate(-180deg);
    transition-property: transform;
    transition-duration: 500ms;
}

/* Оверлай для бокового меню */

.side-menu__overlay, .side-menu__overlay--active {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 14;
}

.side-menu__overlay {
    left: -100%; 
    background-color: transparent;
    transition-property: background-color, left;
    transition-duration: 100ms, 500ms;
}

.side-menu__overlay--active {
    left: 0;
    background-color: rgba(255, 255, 255, 0.96);
    transition-property: background-color, left;
    transition-duration: 1s, 100ms;
}

/* Боковое меню (Side-Menu)*/

.side-menu__wrapper, .side-menu__wrapper--open {
    display: flex;
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 100%;
    min-height: 676px;
    height: 100%;
    flex-direction: column;
    top: 0;
    background: white;
    padding: 0 16px 32px 16px;
    overflow-y: auto;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
    16px 0px 52px rgba(14, 24, 80, 0.2);
    z-index: 15;
}

.side-menu__wrapper  {
    left: -120%;
    transition-property: left;
    transition-duration: 1.2s;
}

.side-menu__wrapper--open {
    left: 0;
    transition-property: left;
    transition-duration: 1s;        
}



/* Верхнее меню Side-Menu */

.side-menu__header {
    display: flex;
    width: 100%;
    height: 88px;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 8px;
}

.top-menu__wrapper-left {
    display: flex;
    width: 154px;
    height: 88px;    
    justify-content: space-between;
    align-items: center;
}

.top-menu__wrapper-right {
    display: flex;
    width: auto;
    height: 88px;    
    justify-content: flex-end;
    align-items: center;
}

/* Основное меню Side-Menu */

/* Меню */

.side-menu__main .menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px 0;
    overflow: visible;
}

.side-menu__main .menu__side-menu-link {
    margin-bottom: 0;
}

.menu__side-menu-link {
   display: flex;
   max-width: 200px;
   align-items: center;
   margin-bottom: 32px;
}

.menu__side-menu-link--active {
    color: #7E7E82;
}

.menu__side-menu-link--active::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 32px;
    background-color: #41F6D7;
    border-radius: 0 30% 30% 0;
    left: 0;
}

/* Связь */

.side-menu__connection {
    margin-top: auto;
}

.connection__buttons {
    display: flex;
    width: 152px;   
    justify-content: space-between;
    margin-bottom: 16px;            
}

.connection__email-link {
    display: flex;
    height: auto;
    margin-bottom: 12px;
}

.title-h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 32px;
    letter-spacing: -0.6px;
}

.connection__phone-link {
    display: flex;
    margin-bottom: 8px;
}

/* Смена языка */

.side-menu__link {
    margin-right: 5px;
}

.side-menu__link--active {
    color: #7E7E82;
}

/* Раздел брэндов */

/* Заголовок брэндов */

.content {
    overflow: hidden;
}

.content__header {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 56px;
    max-height: 80px;
    border-top: 1px solid #D9FFF5;
    border-radius: 1px;
    background-image: linear-gradient(90deg, #F8F8F8 2%, #FFFFFF 98%);
    margin: 0 0 16px 0;
}

.title-h3 {
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.title-h4 {
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #7E7E82; 
}

.content__header-title {
    align-self: center;
    text-transform: uppercase;
    color: #7E7E82;
    padding: 16px 0 16px 16px;
}


/* Список брэндов Swiper*/

.content__wrapper {
    margin-bottom: 18px;
}

.content-swiper {
    position: relative;
    width: 100%;
    height: auto;
}

.content-swiper__wrapper {
    display: flex;
    width: auto;
    margin-left: 16px;
    flex-wrap: nowrap;
    padding-bottom: 34px;
    overflow: visible;
}

.content-slide {
    width: auto;
    height: auto;
}

.content-swiper__fade-left,
.content-swiper__fade-rigth {
    position: absolute;
    height: 72px;
    width: 24px;
    z-index: 5;
    background-image: linear-gradient(-270deg, #F8F8F8 17%, transparent);
    left:0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-swiper__fade-rigth {
    background-image: linear-gradient(270deg, #F8F8F8 17%, transparent);
    right: 0;
    left: auto;
}

.content-swiper__fade-left--middle,
.content-swiper__fade-rigth--middle {
    height: 160px;
}

.content-swiper__fade-left--large,
.content-swiper__fade-rigth--large {
    height: 200px;
}

.content-slide__button-arrow {
    display: flex;
    width: 40px;
    height: 40px;
    align-self: center;
    justify-content: flex-end;
    background: url('../icons/go-to-rigth.png') no-repeat center / 40px 40px #FF3E79 ;
    background-position: right;
    border-radius: 50%;
}

.content-slide__button-arrow--middle {
    align-self: flex-end;
    flex-shrink: 0;
}

.content-slide__link {
    display: flex;
    justify-content: space-between;
    width: 206px;
    height: 70px;
    background-color: #ffffff;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    padding: 0 16px 0 16px;  
}

.content-slide__link--middle {
    height: 126px;
    padding: 16px; 
    white-space:break-spaces;
}

.content-slide__link:hover .content-slide__button-arrow {
    opacity: 0.4;
    transition-property: opacity;
    transition-duration: 500ms;
}

.content-slide__img {
    align-self: center;
}

.content__wrapper .content__button {
    display: none;
}

.content-swiper .swiper-pagination {
    bottom: 0;
    left: 0;
    width: 100%;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD ;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC ;
}

.services__table {
    display: flex;
    flex-direction: column;
    width: 226px;
    height: 166px;
    background-color: #ffffff;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 16px 16px 16px 16px; 
}

.services__wrapper-right {
    margin-top: auto;
}

.services__wrapper-center {
    margin-top: auto;
}

.services__button {
    position: absolute;
    align-items: center;
    padding-left: 12px;  
    right: 16px; 
    bottom: 16px;
}

.button-action {
    display: flex;
    width: 107px;
    height: 32px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-transform: uppercase;
    color: white;   
    background: #FF3E79 url('../icons/arrow-right.png') no-repeat;
    background-position: 96px;
    border-radius: 16px;        
}

.button-action:hover {
    opacity: 0.4;
    transition-property: opacity;
    transition-duration: 500ms;
}

.services__table-th {  
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #7E7E82; 
}

.services__table-td {
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color: #1B1C21;  
    letter-spacing: 0.2px;
}

.services:nth-child(1) {
    display: none;
}

.price__info {
    min-width: 288px;
    max-width: 421px;
    margin: 0 16px 40px 16px;
}

.price .content__text {
    margin-bottom: 16px;               
}

.content__image-arrow {
    margin-left: 4px;
    vertical-align: middle;
}

.content__link {
    white-space: break-spaces;
}

/* Футер */

.footer {
    border-top: 1px solid #D9FFF5;
}

.footer__wrapper {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    gap: 16px 0;
    padding: 16px 16px 19px 16px;   
    text-align: center;     
}

.footer__link {
    color: #7E7E82;
    transition-property: color;
    transition-duration: 500ms;
}

.footer__link:hover {
    color: #FF3E79;
    transition-property: color;
    transition-duration: 500ms;
}

/* Modal */ 

.modal__overlay, .modal__overlay--active {
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 19;
}

.modal__overlay {
    right: -120%; 
    transition-property: right;
    transition-duration: 5s;
}

.modal__overlay--active {
    right: 0;
    transition-property: right;
    transition-duration: 100ms;
}

.modal__wrapper, .modal__wrapper--open {
    display: flex;
    position: absolute;
    width: 320px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-items: flex-start;
    top: 0;
    background-color: #FFFFFF;
    padding: 105px 16px 32px 16px;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 
    16px 0px 52px rgba(14, 24, 80, 0.2); 
    z-index: 20;

}

.modal__wrapper {
    right: -120%;
    transition-property: right;
    transition-duration: 1.2s;
}

.modal__wrapper--open  {
    right: 0;
    transition-property: right;
    transition-duration: 1.2s;
}

.modal__button-left, .modal__button-left--open {
    width: 320px;
    width: 100%;
    position: absolute;
    z-index: 25;
    padding-left: 16px;
    top: 24px;
}

.modal__button-left {
    right: -120%;
    transition-property: right;
    transition-duration: 1.2s;
}

.modal__button-left--open {
    right: 0;
    transition-property: right;
    transition-duration: 1.2s;
}

.modal__title {
    display: flex;
    position: static;
    height: 40px;
    align-items: flex-end;
    margin: 0 0 24px 0;
}

.modal__title::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-radius: 0 30% 30% 0;
    left: 0;
}

.modal__form {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 16px;
}

.modal__input {
    width: 288px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #EAEAEA; 
    padding: 0 16px 0 16px;
}

.modal__input::placeholder {
    color: #B5B6BC;
}

.modal__input:hover {
    border: 2px solid #EAEAEA; 
    transition-property: outline;
    transition-duration: 300ms;
}

.modal__input:focus {
    border: 2px solid #B8FFEC;
    outline: none;
    transition-property: outline;
    transition-duration: 300ms;  
}

.modal__input:invalid {
    color: #FF3E79;
}

.modal__message {
    height: 118px;
    padding-top: 12px;
    resize: none;
}

.modal__agreement {
    width: 288px;
}

.modal__agreement-link {        
    color: #FF3E79;
}

.modal__agreement-link:hover {
    color: #7E7E82;
    transition-property: color;
    transition-duration: 500ms;
}

.modal__button-right {
    display: flex;
    width: 288px;
    justify-content: flex-end;
}

.modal__button-send {
    display: flex;
    width: 136px;
    height: 32px;
    align-items: center;
    padding: 0 0 0 20px;
    background-position: 110px;
    margin: 0 0 16px 0;
}




    

    



   


@media (min-width: 360px) {

    .side-menu__wrapper, .side-menu__wrapper--open {
        padding: 0 24px 32px 24px;
    }
}




@media (min-width: 768px) {


    /*Верхнее меню */

    .upper-menu__wrapper-left {
        display: flex;
        width: 203px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-right: auto;
        align-items: center;
        padding-left: 24px;
    }

    .upper-menu__wrapper-left::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        margin-left: 60px;   
    }

    .upper-menu__wrapper-center {
        display: flex;
        width: 188px;
        height: 88px;    
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-left: auto;
        align-items: center;
        padding: 0 6px 0 0;
    }

    .upper-menu__wrapper-right {
        width: 142px;
        padding: 0 8px 0 5px;   
    }   

    .upper-menu__wrapper-right::after {
        content: "";
        position: absolute;
        width: 2px;
        height: 32px;
        background-color: #EAEAEA;
        border-radius: 1px;
        right: 141px;
    }

    /* Side-Menu */

    .side-menu__wrapper, .side-menu__wrapper--open {
        width: 320px;
    }

    .side-menu__main {
        margin-bottom: 32px;
    }

    .side-menu__main .menu {
        gap: 32px 0;
    }

    .connection__phone-link {
        margin-bottom: 40px;
    }

    .side-menu__header {
        margin-bottom: 32px;
    }

    /* Меню Main */

    .main-title__wrapper-repair {
        display: none;
    }
    .main-title__wrapper-checkstatus {
        display: none;
    }

    .main-title__wrapper-title {
        margin: 24px;
        margin-bottom: 32px;
    }

    .main-title__h1::before {
        left: -24px;
    }

    .main__menu {
        margin-left: 24px;
        margin-bottom: 24px;
    }

    .main__fade {
        position: absolute;
        width: 20px;
        height: 40px;
        top: 184px;
        right: 0;
        background-image: url('../icons/fade-big.png');  
    }

 

    /* О компании*/


    .main__content { 
        height: auto;
        flex-direction: row;
        justify-content: space-between;  
        margin: 32px 24px 24px 24px;            
    }

    .content__wrapper-left {
        flex-basis: 50%;
        margin: 0 24px 0 0;
    }

    .content__text {
        line-height: 20px;
        margin-bottom: 0;
    }

    .content__text--hidden {
        height: 160px;
        line-height: 20px;
        overflow: auto;
    }

    .content__button {
        margin-top: 16px;
    }

    .content__wrapper-right {
        flex-basis: 50%;
        margin-left: 24px;
    }
  
    .content__image {
        min-width: 360px;
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }
        
    /* Раздел брэндов */

    /* Заголовок брэндов */
    

    .content__header {
        margin: 0 0 24px 0;
    }

    .content__header-title {
        padding: 16px 0 16px 24px;
    }

    /* Список брэндов Swiper */

    .content-swiper__wrapper {
        flex-wrap: wrap;
        margin-left: 24px;
        overflow: visible; 
        gap: 16px 24px; 
        padding-bottom: 0;
    }

    .content-swiper__wrapper--services {
        min-width: 720px;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 0 24px 0 24px;
        row-gap: 0;
    }

    .content-swiper__wrapper--hidden {
        height: 160px;    
        overflow: hidden;
    }

    .content-slide__link {
        width: 190px;
    }

    .services {
        background-color: #FFFFFF;
        min-width: 688px;
        padding: 16px 16px 0 16px;
    }

    .content-swiper__fade-left,
    .content-swiper__fade-rigth { 
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .content__wrapper .content__button {
        display: flex;
        margin-left: 24px;
    }

    .services__table {
        display: flex;
        width: auto;
        height: auto;
        justify-content: space-between;
        flex-direction: row;
        border-bottom: 1px solid #EAEAEA;
        background-color: transparent;
        border-radius: unset;
        column-gap: 20px;
        padding: 0 0 16px 0;
        align-items: center;
    }

    .services__table-th-head {
        display: unset;
        font-family: 'TT Lakes', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        color: #7E7E82;
    }

    .services:nth-child(1) {
        display: unset;
    }

    .services__wrapper-left {
        min-width: 348px;   
    }

    .services__wrapper-center {
        min-width: 74px;
        margin-top: 0;
    }

    .services__wrapper-right {
        min-width: 81px; 
        margin-top: 0;
    }

    .services__wrapper-button {
        align-self: center;       
    }

    .services__wrapper-none {
        width: 119px;
    }

    .services__button {
        position: static;
    }

    .services__table-th {
        display: none;
    }

    .content-swiper__wrapper--services .services:nth-child(2) {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    .content-swiper__wrapper--services .services:nth-child(6) {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
    }

    .content-swiper__wrapper--services .services:nth-child(1) {
        background-color: transparent;
    }

    .services:nth-child(1) .services__table,
    .services:nth-child(6) .services__table {
        border-bottom: 1px solid transparent;
    }

    .content__link {
        min-width: 421px;
        white-space: pre-wrap;
    }

    .price__info {
        margin: 0 24px 47px 24px;
    }

    .price__info {
        padding-top: 6px;
    }

    .footer__wrapper {
        flex-wrap: nowrap;
        flex-direction: row;
        text-align: unset;
        justify-content: space-between;
        gap: 0 35px;
        padding: 32px 24px 24px 24px;        
    }

    .footer__info {
        min-width: 218px;
    }

    .footer__link {
        min-width: 214px;
        text-align: center;
    }

    .footer__offer {
        min-width: 213px;
        max-width: 330px;
        text-align: right;
    }

     /* Modal */

    .modal__overlay {
        background-color: transparent;
        transition-property: background-color, right;
        transition-duration: 100ms, 500ms;
    }

    .modal__overlay--active {
        background-color: rgba(255, 255, 255, 0.96);
        transition-property: background-color, right;
        transition-duration: 500ms, 100ms;
    }

    .modal__wrapper, .modal__wrapper--open {
        position: fixed;
        width: 440px;
        border-left: 1px solid #D9FFF5;
        padding: 32px 32px 32px 32px;
    }

    .modal__input,
    .modal__agreement,
    .modal__button-right {
         width: 376px;
    }

    .modal__button-left, .modal__button-left--open {
        width: 513px;
        top: 32px;
        padding-left: 0;
        position: fixed;
    }

    .modal__button-left {
        right: -120%;
        transition-property: right;
        transition-duration: 1.2s;
    }

    .modal__button-left--open {
        right: 0;
        transition-property: right;
        transition-duration: 1.2s;
    }


    .modal__button-left::before,
    .modal__button-left--open::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 40px;
        background-color: #41F6D7;
        border-radius: 2px;
        left: 72px;
       
    }

    .modal__title::before {
        content: "";
        width: 0;
        height: 0;   
    }






}



@media (min-width: 1440px) {

    body {
        margin: auto;
    }

    .page {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .page__content {
        width: 1120px;
        border-right: 1px solid #EAEAEA;
    }

    .page__side-menu {
        border-left: 1px solid #EAEAEA;
    }

    /* Верхнее меню */

    .page__header {
        display: none;
    }

    /* Заголовок Main */

    .main-title {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
    }

    .main-title__wrapper-title {
        display: flex;
        width: 236px;
        margin: 42px 0 0 32px;
    }

    .main-title__h1::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 40px;
        background-color: #41F6D7;
        border-radius: 2px;
        left: -32px;
    }

    /* Кнопки заголовка Main */

    .main-title__wrapper-repair {
        display: flex;
        width: 172px;
        height: 40px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 32px;
    }

    .main-title__wrapper-checkstatus {
        display: flex;
        width: 176px;
        height: 40px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 32px;
        margin-right: 30px;
        margin-left: 32px;
    }

    .main-title__text {
        font-family: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        cursor: pointer;
        color: #1B1C21;  
    }

    .main-title__text--repair::after {
        content: "Оставить заявку";
        position: absolute;
        margin-left: -130px;
        align-self: center;
    }

    .main-title__text--checkstatus::after {
        content: "Статус ремонта";
        position: absolute;
        margin-left: -125px;
        align-self: center;
    }

    .main-title__text--repair:hover::after,
    .main-title__text--checkstatus:hover::after {
        color: #FF3E79;
        transition-property: color;
        transition-duration: 500ms;
    }

    .main-title__text--repair:focus::after,
    .main-title__text--checkstatus:focus::after {
        color: #7E7E82;
        transition-property: color;
        transition-duration: 500ms; 
    }
   
  
    /* Меню Main */

    .menu {
        display: flex;
        flex-wrap: wrap;        
    }

    .main__menu {
        margin: 8px 0 0 32px;
    }

    .menu__link {
        padding: 6px 23px 6px 12px; 
    }

    /* О компании */

    .main__content {
        margin: -8px 28px 45px 34px;    
    }

    .content__wrapper-left {
        margin: 0 16px 0 0;
        padding-top: 8px;
    }

    .content__wrapper-right {
        margin: 0 0 0 24px;
    }

    /* Sise-Menu */

    .side-menu__overlay {
        position: static;
        width: auto;
        height: 100%;
        background-color: #FFFFFF;
    }

    .side-menu__wrapper {
        position: static;
        min-width: 306px;
        width: 306px;
        height: 963px;
        box-shadow: none;
        padding: 11px 24px 50px 24px;
    }

    .side-menu .button-menu--close {
        display: none;
    }

    .side-menu__header {
        align-items: unset;
    }

    .side-menu__header {
        margin-bottom: 19px;
    }

    .side-menu__main .menu {
        gap: 25px 0;
    }

    .menu__side-menu-link {
        position: relative;
    }

    .menu__side-menu-link--active::before {
        content: "";
        width: 3.5px;
        height: 28px;
        border-radius: 2px;
        left: -24px;
    }






    /* Раздел брэндов */

    /* Заголовок брэндов */

    .content__header-title {
        padding: 16px 0 16px 32px;
    }

    /* Список брэндов Swiper */

    .content-swiper__wrapper {
        flex-wrap: wrap;  
        gap: 16px 32px; 
        margin-left: 32px;
        padding-bottom: 0;
    }

    .content-slide__link {
        width: 206px;
    }

    .content__wrapper .content__button {
        margin-left: 32px;
    }    

    .content-swiper__wrapper--services {
        row-gap: 0;
        margin: 0 32px 0 32px;
    }

    .services {
        padding: 16px 24px 0 24px;
    }

    .price__info {
        margin: 0 32px 50px 32px;
        padding-top: 14px;
    }

    .footer__wrapper {
        padding: 32px 32px 21px 32px;        
    }

  


 


}
