
@media (min-width: 320px) {


     /* Список брэндов Swiper*/

     .content-swiper {
        position: relative;
        width: 100%;
        height: auto;
    }

    .content-swiper__wrapper {
        display: flex;
        width: auto;
        margin-left: 16px;
        flex-wrap: nowrap;
        padding-bottom: 34px;
        overflow: visible;
    }

    .content-slide {
        width: auto;
        height: 72px;
    }
 
    .content-swiper__fade-left,
    .content-swiper__fade-rigth {
        position: absolute;
        height: 72px;
        width: 24px;
        z-index: 5;
        background-image: linear-gradient(-270deg, #F8F8F8 17%, transparent);
        left:0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-swiper__fade-rigth {
        background-image: linear-gradient(270deg, #F8F8F8 17%, transparent);
        right: 0;
        left: auto;
    }
    
    .content-slide__button-arrow {
        display: flex;
        width: 40px;
        height: 40px;
        align-self: center;
        justify-content: flex-end;
        background: url('../icons/go-to-rigth.png') no-repeat center / 40px 40px #FF3E79 ;
        background-position: right;
        border-radius: 50%;
    }

   .content-slide__link {
        display: flex;
        justify-content: space-between;
        width: 206px;
        height: 70px;
        background-color: #ffffff;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 0 16px 0 16px;  
    }

    .content-slide__link:hover .content-slide__button-arrow {
        opacity: 0.4;
        transition-property: opacity;
        transition-duration: 500ms;
    }

    .content-slide__img {
        align-self: center;
    }

    .content__wrapper .content__button {
        display: none;
    }

    .content-swiper .swiper-pagination {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #DDDDDD ;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC ;
    }



}


@media (min-width: 768px) {

    /* Список брэндов Swiper */

    .content-swiper__wrapper {
        flex-wrap: wrap;
        margin-left: 24px;
        overflow: visible; 
        gap: 16px 24px; 
        padding-bottom: 0;
    }

    .content-slide__link {
        width: 190px;
    }

    .content-swiper__wrapper--hidden {
        height: 160px;    
        overflow: hidden;
    }

    .content-swiper__fade-left,
    .content-swiper__fade-rigth { 
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .content__wrapper .content__button {
        display: flex;
        margin-left: 24px;
    }

    .content__wrapper .content__button::before {
        content: "";
        transform: rotate(0deg);
        transition-property: transform;
        transition-duration: 500ms;

    }
    .content__wrapper .content__button--up::before {
        content: "";
        transform: rotate(-180deg);
        transition-property: transform;
        transition-duration: 500ms;
    }

   


}


@media (min-width: 1120px) {

    /* Список брэндов Swiper */

    .content-swiper__wrapper {
        flex-wrap: wrap;  
        gap: 16px 32px; 
        margin-left: 32px;
        padding-bottom: 0;
    }

    .content-slide__link {
        width: 206px;
    }

    .content__wrapper .content__button {
        display: flex;
        margin-left: 32px;
    }
       



}