    html {
        box-sizing: border-box;
    }
    *, *:before, *:after {
        box-sizing: inherit;
    }

    /* Скрываем scrollbar для Chrome, Safari и Opera */
    *::-webkit-scrollbar {
        width: 0;
    }

    /* Скрываем scrollbar для IE, Edge и Firefox */
    * {
        -ms-overflow-style: none;  /* IE и Edge */
        scrollbar-color: transparent transparent;/* Firefox */
    }

    body {
        width: 100%;
        font-family: 'TT Lakes', sans-serif;
        font-weight: normal;
        margin: 0;
        padding: 0; 
        background-color: #F8F8F8;
    }
    * {
        margin: 0;
        padding: 0;
        border: 0;
    }
    li {
        list-style: none;
    }

    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
        cursor: pointer;
    }



@media (min-width: 320px) {

    /*Стили других блоков*/

    /* Ссылки*/

    .link {
        text-decoration: none;
        font-style: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #1B1C21;
    }
    
    .link:hover {
        color: #FF3E79;
        transition-property: color;
        transition-duration: 500ms;

    }
    .link:focus {
        color: #7E7E82;
        transition-property: color;
        transition-duration: 500ms;   
    }

    .content__button {
        width: 100%;
        display: flex;
        margin: 0 0 16px 0;
    }

    .content__button::before {
        content: "";
        width: 8px;
        height: 11px;
        background: url('../icons/arrow-down.svg') no-repeat;
        background-position: left;
        margin: 6px 16px 0 8px;
    }

    .content__button {
        display: none;
    }

    /* Раздел брэндов */
    
    /* Заголовок брэндов */

    .content__header {
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 56px;
        max-height: 80px;
        border-top: 1px solid #D9FFF5;
        border-radius: 1px;
        background-image: linear-gradient(90deg, #F8F8F8 2%, #FFFFFF 98%);
        margin: 0 0 16px 0;
    }

    .content__header-title {
        align-self: center;
        font-style: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        letter-spacing: -0.2px;
        text-transform: uppercase;
        color: #7E7E82;
        padding: 16px 0 16px 16px;
    }

    /* Список брэндов Swiper*/

    .content-swiper {
        position: relative;
        width: 100%;
        height: auto;
    }

    .swiper-wrapper {
        display: flex;
        width: auto;
        margin-left: 16px;
        flex-wrap: nowrap;
        padding-bottom: 34px;
    }

    .content-slide {
        width: auto;
    }
 
    .content-swiper__fade-left,
    .content-swiper__fade-rigth {
        position: absolute;
        height: 72px;
        width: 24px;
        z-index: 5;
        background-image: linear-gradient(-270deg, #F8F8F8 17%, transparent);
        left:0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .content-swiper__fade-rigth {
        background-image: linear-gradient(270deg, #F8F8F8 17%, transparent);
        right: 0;
        left: auto;
    }
    
    .content-slide__button-arrow {
        display: flex;
        width: 40px;
        height: 40px;
        align-self: center;
        justify-content: flex-end;
        background: url('../icons/go-to-rigth.png') no-repeat center / 40px 40px #FF3E79 ;
        background-position: right;
        border-radius: 50%;
    }

   .content-slide__link {
        display: flex;
        justify-content: space-between;
        width: 206px;
        height: 70px;
        background-color: #ffffff;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        padding: 0 16px 0 16px;  
    }

    .content-slide__link:hover .content-slide__button-arrow {
        opacity: 0.4;
        transition-property: opacity;
        transition-duration: 500ms;
    }

    .content-slide__img {
        align-self: center;
    }

    .content__wrapper .content__button {
        display: none;
    }

    .content-swiper .swiper-pagination {
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .swiper-pagination-bullet,
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #DDDDDD ;
        opacity: 1;
    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC ;
    }

   

}


@media (min-width: 768px) {

    .content__button {
        margin-top: 16px;
    }

     /* Раздел брэндов */

    /* Заголовок брэндов */

    .content__header {
        margin: 0 0 24px 0;
    }

    .content__header-title {
        padding: 16px 0 16px 24px;
    }

    /* Список брэндов Swiper */

    .swiper-wrapper {
        flex-wrap: wrap;
        margin-left: 24px;
        overflow: visible; 
        gap: 16px 24px; 
        padding-bottom: 0;
    }

    .content-slide__link {
        width: 190px;
    }

    .swiper-wrapper--hidden {
        height: 160px;    
        overflow: hidden;
    }

    .content-swiper__fade-left,
    .content-swiper__fade-rigth { 
        display: none;
    }

    .swiper-pagination {
        display: none;
    }

    .content__wrapper .content__button {
        display: flex;
        margin-left: 24px;
    }

    .content__wrapper .content__button::before {
        content: "";
        transform: rotate(0deg);
        transition-property: transform;
        transition-duration: 500ms;

    }
    .content__wrapper .content__button--up::before {
        content: "";
        transform: rotate(-180deg);
        transition-property: transform;
        transition-duration: 500ms;
    }


}


@media (min-width: 1120px) {

   body {
        max-width: 1120px;
        margin: auto;
    }

    /* Верхнее меню */

    .header {
        display: none;
    }

    /* Заголовок Main */

    .main-title {
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        align-items: center;
    }

    .main-title__wrapper-title {
        display: flex;
        width: 236px;
        margin: 42px 0 0 32px;
    }

    .main-title__h1::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 40px;
        background-color: #41F6D7;
        border-radius: 2px;
        left: 0px;
    }

    /* Кнопки заголовка Main */

    .main-title__wrapper-repair {
        display: flex;
        width: 172px;
        height: 40px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: auto;
        margin-top: 32px;
    }

    .main-title__wrapper-checkstatus {
        display: flex;
        width: 176px;
        height: 40px;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 32px;
        margin-right: 24px;
        margin-left: 32px;
    }

    .main-title__text {
        font-style: 'TT Lakes', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.2px;
        cursor: pointer;
        color: #1B1C21;  
    }

    .main-title__text--repair::after {
        content: "Оставить заявку";
        position: absolute;
        margin-left: -130px;
        align-self: center;
    }

    .main-title__text--checkstatus::after {
        content: "Статус ремонта";
        position: absolute;
        margin-left: -125px;
        align-self: center;
    }

    .main-title__text--repair:hover::after,
    .main-title__text--checkstatus:hover::after {
        color: #FF3E79;
        transition-property: color;
        transition-duration: 500ms;
    }

    .main-title__text--repair:focus::after,
    .main-title__text--checkstatus:focus::after {
        color: #7E7E82;
        transition-property: color;
        transition-duration: 500ms; 
    }
   
  
    /* Меню Main */

    .menu {
        display: flex;
        flex-wrap: wrap;        
    }

    .main__menu {
        margin: 8px 0 0 32px;
    }

    .menu__link {
        padding: 6px 23px 6px 12px; 
    }

    /* О компании */

    .main__content {
        margin: -8px 28px 45px 34px;    
    }

    .content__wrapper-left {
        margin: 0 16px 0 0;
        padding-top: 8px;
    }

    .content__wrapper-right {
        margin: 0 0 0 24px;
    }

    .content__button {
        display: none;
    }

    /* Раздел брэндов */

    /* Заголовок брэндов */

    .content__header-title {
        padding: 16px 0 16px 32px;
    }

 /* Список брэндов Swiper */

    .swiper-wrapper {
        flex-wrap: wrap;  
        gap: 16px 32px; 
        margin-left: 32px;
        padding-bottom: 0;
    }

    .content-slide__link {
        width: 206px;
    }

    .content__wrapper .content__button {
        display: flex;
        margin-left: 32px;
    }



}